@keyframes blinkingText {
    0%, to {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}

* {
    box-sizing: border-box;
    max-width: 100%;
    word-wrap: break-word;
}

pre {
    position: relative;
    overflow-x: auto;
    padding: 10px 10px 30px;
    border: 1px solid #fff;
}

button.copy-code-button, select {
    padding: 5px 10px;
    border-radius: 3vw;
}

button.copy-code-button {
    font-size: .8em;
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
    transition: background-color .3s, color .3s;
    color: #333;
    border: 1px solid #ccc;
    background-color: #fff;
}

button.copy-code-button:hover {
    color: #222;
    background-color: #eee;
}

body, html {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #f1f1f1;
    background-color: #333;
}

.chat-interface, .container {
    display: flex;
    width: 85%;
    margin: 0 auto;
}

.container {
    flex: 1;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 50vh;
}

header h1 {
    font-size: 24px;
    text-align: center;
    color: #8f564c;
}

#GPTapiStatusMessage, #apiStatusMessage {
    display: none;
    margin-bottom: 10px;
    text-align: center;
    color: red;
}

#discord-logo, #info-link, #theme-toggle {
    position: fixed;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#info-link {
    font-weight: 700;
    line-height: 20px;
    z-index: 1000;
    top: 10px;
    display: inline-block;
    cursor: help;
    text-align: center;
    text-decoration: none;
    color: #f1f1f1;
    background-color: #8f564c;
}

#info-link:hover {
    cursor: help;
    background-color: #c56a4e;
}

#discord-logo, #theme-toggle {
    top: 40px;
    cursor: pointer;
}

#theme-toggle {
    top: 70px;
}

.chat-interface {
    overflow-y: auto;
    flex-direction: row;
}

.previous-chats {
    overflow-y: auto;
    width: 70%;
    max-height: 350px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3vw;
    background: #444;
}

.previous-chats h2 {
    font-size: 20px;
    text-align: center;
}

.previous-chats ul {
    padding: 0;
    list-style: none;
}

.previous-chats li {
    margin-top: 5px;
    padding: 10px;
    transition: background-color .3s ease;
    border-radius: 3vw;
    background: #555;
}

.previous-chats li:hover {
    cursor: pointer;
    background: #666;
}

.message-form, .model-selector {
    display: flex;
    align-items: center;
}

.message-form {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 50%;
    flex-direction: column;
    width: 70%;
    max-height: 50%;
    padding: 5px;
    transform: translateX(-50%);
    background-color: #333;
    box-shadow: 0 -1px 10px rgb(0 0 0 / 30%);
}

.model-selector {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.model-selector-right {
    margin-left: auto;
}

.model-selector label {
    margin-right: 10px;
    color: #ccc;
}

pre, select {
    background: #222;
}

select {
    color: #f1f1f1;
    border: 1px solid #444;
}

select:focus {
    border-color: #8f564c;
    outline: 0;
}

textarea {
    overflow-y: auto;
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
    min-height: 50px;
    margin-right: 10px;
    padding: 10px;
    resize: vertical;
    border: 1px solid #ccc;
    background: #222;
}

#systemPromptInput {
    width: 90%;
    margin-bottom: 10px;
    color: #ccc;
    border: 1px solid #555;
    background: #222;
}

.message-form-buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, auto);
}

#saveSettingsButton, #sendButton, textarea {
    color: #f1f1f1;
    border-radius: 3vw;
}

#saveSettingsButton, #sendButton {
    font-size: 16px;
    background-color: #8f564c;
}

#addButton {
    border-radius: 100%;
}

#runButton {
    border-radius: 3vw;
}

#addButton, #runButton, #saveSettingsButton, #sendButton {
    margin-top: 10px;
    cursor: pointer;
    border: 0;
    grid-column: auto;
}

#addButton:hover, #runButton:hover, #saveSettingsButton:hover, #sendButton:hover, .previous-chats button:hover, .previous-chats-controls button:hover {
    background-color: #c56a4e;
}

#addButton {
    background-color: #6a6a6a;
}

#addButton, #backButton, #runButton {
    color: #f1f1f1;
}

#runButton {
    background-color: #6a6a6a;
}

#backButton {
    position: fixed;
    z-index: 1;
    left: 30px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color .3s;
    border: 0;
    border-radius: 3vw;
    background-color: #8f7535;
}

#backButton:hover {
    background-color: #705d2b;
}

#messageContainer {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    padding: 10px;
}

.user-message {
    align-self: flex-end;
    color: #f1f1f1;
    background: #555;
}

.assistant-message {
    align-self: flex-start;
    color: #f1f1f1;
    background: #8f564c;
}

.error-message, .loading-message {
    margin: 10px 0;
    padding: 10px;
    color: #f1f1f1;
    border-radius: 3vw;
}

.loading-message {
    animation: blinkingText 1.2s infinite;
    background: #666;
}

.error-message {
    background: #8f564c;
}

.chat-controls {
    margin-top: 10px;
}

#settingsButton, .previous-chats button, .previous-chats-controls button {
    cursor: pointer;
    color: #f1f1f1;
    border: 0;
    border-radius: 3vw;
    background-color: #8f564c;
}

.previous-chats button {
    margin-left: 10px;
    padding: 3px 6px;
}

.previous-chats-controls {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.previous-chats-controls button {
    padding: 5px 10px;
}

#sendButton.abort-button {
    color: #f1f1f1;
    background-color: #6c757d;
}

#sendButton.abort-button:hover {
    background-color: #5a6268;
}

#settingsButton {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 8px 16px;
}

#settingsButton:hover {
    background-color: #c56a4e;
}

.assistant-message, .user-message {
    position: relative;
    display: inline-block;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    min-width: 50%;
    max-width: 70%;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 3vw;
}

.message-content {
    flex-grow: 1;
    width: 100%;
}

.messageDiv {
    overflow: auto;
    align-items: center;
    flex-direction: column;
}

button.edit-button {
    background-color: #007bff;
}

.file-bubble .close-btn, button.delete-button {
    background-color: #dc3545;
}

button.copy-button {
    background-color: #008514;
}

button.copy-button, button.delete-button, button.edit-button {
    font-size: .8
}

#attachButton {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #f1f1f1;
    background-color: transparent;
}
#attachButton, .modal-header .close {
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 100%;
}
@media (width <= 768px) {
    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
* {
    box-sizing: border-box;
    max-width: 100%;
    word-wrap: break-word;
}
Benutzer-Agent-Stylesheet
button {
    appearance: auto;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
